account_id         = "f8cd483b056259da8aeb8817b2135da4"
environment        = "production"
workers_subdomain  = "ethank-kennedy"
ai_gateway_id      = "llm-platform-production"
analytics_dataset  = "llm_requests"
